Suceava Alex
Suceava Denis
Suceava Razvan
Suceava Mihaela
Suceava Ovidiu
Cluj Alex
Cluj Damaris
Cluj Maria
Cluj Paul
Cluj Carla
Cluj Rebecca
Hunedoara Maria
Hunedoara Damaris
Hunedoara Emima
Hunedoara Daniel
Hunedoara Ligia
Hunedoara Ruben
Hunedoara Emi